
*.gz
1. Download and compile data/.DS_Store
*.csv
0. Raw data/.DS_Store
0. Raw data/united-states_portland/.DS_Store
0. Raw data/united-states_portland/.ipynb_checkpoints/Fixing_gzips_01-checkpoint.ipynb
0. Raw data/united-states_portland/Fixing_gzips_01.ipynb
2. Clean data/.DS_Store
.DS_Store
LK_backup/2nd_stage_panel_data_cleaning (TO BE DELETED...).ipynb
LK_backup/Calendar_integration_partB.py
LK_backup/2. Clean data/.ipynb_checkpoints/1st_stage_panel_data_cleaning-checkpoint.ipynb
LK_backup/2. Clean data/.ipynb_checkpoints/2nd_stage_panel_data_cleaning (TO BE DELETED...)-checkpoint.ipynb
LK_backup/2. Clean data/.ipynb_checkpoints/Calendar_integration_partA-checkpoint.ipynb
LK_backup/2. Clean data/.ipynb_checkpoints/Calendar_integration_partB-checkpoint.ipynb
LK_backup/2. Clean data/1st_stage_panel_data_cleaning.ipynb
LK_backup/2. Clean data/Calendar_integration_partA.ipynb
LK_backup/2. Clean data/Calendar_integration_partB.ipynb
LK_backup/3. Graphics/Updated_Visualizations_LK_revision.ipynb
LK_backup/3. Graphics/Updated Visualizations.ipynb
LK_backup/3. Graphics/monthly_books.png
LK_backup/3. Graphics/Calendar_integration_partB_visualizations.ipynb
LK_backup/3. Graphics/.ipynb_checkpoints/Updated_Visualizations_LK_revision-checkpoint.ipynb
LK_backup/3. Graphics/.ipynb_checkpoints/Updated Visualizations-checkpoint.ipynb
LK_backup/3. Graphics/.ipynb_checkpoints/Calendar_integration_partB_visualizations-checkpoint.ipynb
.DS_Store
LK_backup/Pull experiment.ipynb
LK_backup/.ipynb_checkpoints/Pull experiment-checkpoint.ipynb
.DS_Store
1. Download and compile data/.ipynb_checkpoints/Inside Airbnb Scrape-checkpoint.ipynb
2. Clean data/.ipynb_checkpoints/1st_stage_panel_data_cleaning-checkpoint.ipynb
.DS_Store
1. Download and compile data/Inside Airbnb Scrape.ipynb
1. Download and compile data/Aggregate Listings Data_update.ipynb
2. Clean data/1st_stage_panel_data_cleaning_update.ipynb
2. Clean data/1st_stage_panel_data_cleaning.ipynb
2. Clean data/1st_stage_panel_data_cleaning.ipynb
2. Clean data/1st_stage_panel_data_cleaning.ipynb
