
*.gz
1. Download and compile data/.DS_Store
*.csv
0. Raw data/.DS_Store
0. Raw data/united-states_portland/.DS_Store
0. Raw data/united-states_portland/.ipynb_checkpoints/Fixing_gzips_01-checkpoint.ipynb
0. Raw data/united-states_portland/Fixing_gzips_01.ipynb
2. Clean data/.DS_Store
.DS_Store
